body {

  height:80vh;
backdrop-filter: blur()15px;
background-image: url(../photos/WhatsApp\ Image\ 2022-06-30\ at\ 5.21.40\ PM.jpeg);
  /* background-image: radial-gradient(
    circle at  15% -20%,
    #e242e8 3.67%,
    #2600ff 13.2%,
    #f7bb7f 36.3%,
    #ffffff 41.3%,
    #e76464 55.3%,
    #bf00ff 74.3%,
    #250965 93.33%,
    #030352 100%
  ); */
  background-repeat:round;

  margin: 5rem;
  border-radius: 16px;
  box-shadow: 4px -4px 3px 6px rgb(255, 255, 255);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(9.6spx);
  border: 1px solid rgb(162, 158, 158);
}

.a {
  margin: 0 0 50px 47%;
  opacity: 55%;
  color: rgba(227, 227, 227, 0.5);
  text-decoration: none;
}
#insert_p input {
  background-color: rgb(236, 236, 236);
  width: 20%;
  height:25px;
  border-radius: 20px;
}
h1 {
  text-align: center;
}
#insert_p {
  margin-left: 5%;
}
#parrafo {
  background-color: white;
  width:fit-content;
  height: fit-content;
  padding:2px;

}