/* || general styles */

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  
 .container {
    width: 100%;
    margin: 0 auto;
  }

  .container1 {
      margin: 50px;
  }
  
  h1, h2 {
    font-family: 'Faster One', cursive;
    color:  rgb(87, 197, 237);
  }
  p{
      color : red;
  }
  ul {
      color: rgba(0, 255, 38, 0.913);
  }
  /* header styles */
  
  h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: -30px;;
  }
  
  header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
  
  /* section styles */
  
  section article {
    width: 33%;
    float: left;
  }
  
  section p {
    margin: 5px 0;
  }
  
  section ul {
    margin-top: 0;
  }
  
  h2 {
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
  }
  .a {
    text-align: center;
    margin:40%;
    opacity: 55%;
    color: white;
    text-decoration: none;
  }